h1{
    font-size: 2em;
}

h2{
    font-size: 1.4em;
}

.fa-id-card, .fa-envelope, .fa-building, .fa-github, .fa-university{
    font-size: 1.4em;
    min-width: 15px;
    margin-left: -5px;
}
.subheading{
    
}
