.header-background{
    background-color: #D52941;
}

h1{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 1.4em;
}

.fa-id-card, .fa-envelope, .fa-building, .fa-github, .fa-university{
    font-size: 1.4em;
    min-width: 15px;
    margin-left: -5px;
}

.manager{
    background-color: #990D35;
    color: white;
}

.engineer{
    background-color: #2C497F;
    color: white;
}

.intern{
    background-color: #F9A03F;
}

a:link{
    text-decoration: none;
    color: blue;
}

a:link{
    text-decoration: none;
    color: blue;
}

a:link{
    text-decoration: none;
    color: blue;
    opacity: 0.8;
}
