<div class="col-12 col-lg-4 col-sm-6">
    <div class="card mb-4">
        <div class="card-header manager"><h2>Leon Hsu <br> <span class="role d-inline-block mt-2">Manager</span> </h2></div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-id-card pr-2"></i> <span class="subheading font-weight-bold">ID:</span> 0001</li>
                <li class="list-group-item"><i class="fas fa-envelope pr-2"></i> <span class="subheading font-weight-bold">Email:</span> leonhsu95@gmail.com</li>
                <li class="list-group-item"><i class="fas fa-building pr-2"></i> <span class="subheading font-weight-bold">Office Number:</span> 96754321</li>
            </ul>
        </div>
    </div>      
</div><div class="col-12 col-lg-4 col-sm-6">
    <div class="card mb-4">
        <div class="card-header engineer"><h2>Wilson Hsu <br> <span class="role d-inline-block mt-2">Engineer</span> </h2></div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-id-card pr-2"></i> <span class="subheading font-weight-bold">ID:</span> 0002</li>
                <li class="list-group-item"><i class="fas fa-envelope pr-2"></i> <span class="subheading font-weight-bold">Email:</span> wilson@gmail.com</li>
                <li class="list-group-item"><i class="fab fa-github pr-2"></i> <span class="subheading font-weight-bold">GitHub:</span> undefined</li>
            </ul>
        </div>
    </div>
</div><div class="col-12 col-lg-4 col-sm-6">
    <div class="card mb-4">
        <div class="card-header intern"><h2>George <br> <span class="role d-inline-block mt-2">Intern</span> </h2></div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-id-card pr-2"></i> <span class="subheading font-weight-bold">ID:</span> 0003</li>
                <li class="list-group-item"><i class="fas fa-envelope pr-2"></i> <span class="subheading font-weight-bold">Email:</span> g@gmail.com</li>
                <li class="list-group-item"><i class="fas fa-university pr-2"></i> <span class="subheading font-weight-bold">School:</span> Macquarie University</li>
            </ul>
        </div>
    </div>
</div>