<div class="col-12 col-lg-4 col-sm-6">
    <div class="card mb-4">
        <div class="card-header intern"><h2>${employee.name} <br> <span class="role d-inline-block mt-2">Intern</span> </h2></div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-id-card pr-2"></i> <span class="subheading font-weight-bold">ID:</span> ${employee.id}</li>
                <li class="list-group-item"><i class="fas fa-envelope pr-2"></i> <span class="subheading font-weight-bold">Email:</span> <a href="mailto:${employee.email}">${employee.email}</a></li>
                <li class="list-group-item"><i class="fas fa-university pr-2"></i> <span class="subheading font-weight-bold">School:</span> ${employee.school}</li>
            </ul>
        </div>
    </div>
</div>